.button {
  padding: 1px 5px;
  background-color: #fff;
  border: 1px solid rgba(199, 199, 199, 0.6);
  margin-left: 5px;
}

.button:hover,
.button:focus {
  background-color: rgb(240, 199, 18);
  border: 1px solid transparent;
}

.item {
  list-style: inside;
}

.item:not(:last-child) {
  margin-bottom: 7px;
}
.title {
  margin-bottom: 10px;
}
